[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/liuchunyu
[access "refs/for/refs/*"]
	read = group user/liuchunyu
	push = group user/liuchunyu
	label-Code-Review = -2..+2 group user/liuchunyu
	label-Verified = -1..+1 group user/liuchunyu
	rebase = group user/liuchunyu
	removeReviewer = group user/liuchunyu
	submit = group user/liuchunyu
[access "refs/heads/*"]
	read = group user/liuchunyu
	create = group user/liuchunyu
	push = +force group user/liuchunyu
	pushMerge = group user/liuchunyu
[access "refs/tags/*"]
	push = +force group user/liuchunyu
	pushTag = group user/liuchunyu
	pushSignedTag = group user/liuchunyu
